.App {
  text-align: center;
}

@layer  component {
  .heading-large, .heading-medium, .body {
    font-family: theme('fontFamily.JetBrains');
    font-weight: 700;
  }
  .heading-large {
    font-size: 32px;
    line-height: 43px;
  }
  .heading-medium {
    font-size: 24px;
    line-height: 31px;
  }
  .body {
    font-size: 18px;
    line-height: 23px;
  }
}